<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Vinyl</title>
  </head>
  <body>
  <div class='d-flex flex-column body'>

      <div class='d-flex justify-content-end nav'>
        <div class='mr-auto logo'>Vinyl</div>
        <div class='nav-options'><a href='/users/profile'>Profile</a></div>
        <div class='nav-options'><a href='/users/logout'>SignOut</a></div>
      </div>
      <div class="d-flex justify-content-center ">
     <h1>{{albums.title}}</h1>
   </div>
   <div class='container'>
     <div class='d-flex justify-content-start'>
      <h2>Recent Reviews</h2>
      <div class='ml-auto'>
        <button type="button" class="btn btn-success"><a href='{{albums.id}}/new'>New Review</a></button>
      </div>
     </div>
{{#each reviews}}
<div class="d-flex justify-content-center">
      <div class= 'd-flex flex-column review'>
        
        <div class='d-flex flex-row justify-content-between album-date'>
          <div class='review-album-name'>
            <h5>{{title}}</h5>
          </div>
          <div class='review-album-date'><i>{{logged}}</i></div>
        </div>
        <div class='review-text'>
          {{review}}
        </div>
        <div class='d-flex justify-content-end review-by'><i>by : {{username}}</i></div>
      </div>
      </div>
              {{/each}}
         </div>
    </div>
  </body>
</html>
